.Search {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 40px 40px 5px;
}
.Search form {
  margin: 0px 0px;
}
.Search h1 {
  margin: 50px 10px 0px;
  font-size: 36px;
  font-weight: 500;
}
.Search h2 {
  margin: 10px 10px;
  font-size: 20px;
}
.Search .currentWeather {
  margin-top: 40px;
}
.Search .currentWeather .icon {
  margin-bottom: 20px;
}
.Search .currentWeather .temp {
  font-size: 46px;
  font-weight: 500;
  margin-left: 5px;
  position: relative;
  top: 10px;
}
.currentWeather a {
  text-decoration: none;
}

.currentWeather .units {
  position: relative;
  bottom: 10px;
  left: 10px;
  font-size: 16px;
}

.Search .currentWeather ul {
  list-style: none;
  margin-left: 40px;
  margin-top: 15px;
  font-size: 18px;
}
.Search .currentWeather .feelslike {
  margin-left: 85px;
  font-style: italic;
  font-size: 14px;
}
.Search .timestamp {
  text-align: end;
  font-size: 12px;
}
