.Search {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 30px;
}
.Search h1 {
  margin-top: 50px;
  font-size: 42px;
  font-weight: 500;
}
.Search h2 {
  font-size: 21px;
}
.Search .currentWeather {
  margin-top: 20px;
}
.Search .currentWeather .icon {
  margin-bottom: 20px;
}
.Search .currentWeather .temp {
  font-size: 50px;
  font-weight: 500;
  margin-left: 5px;
  position: relative;
  top: 10px;
}
.currentWeather a {
  text-decoration: none;
}

.currentWeather .units {
  position: relative;
  bottom: 10px;
  left: 10px;
  font-size: 18px;
}

.Search .currentWeather ul {
  list-style: none;
  margin-left: 40px;
  margin-top: 15px;
  font-size: 20px;
}
.Search .currentWeather .feelslike {
  margin-left: 85px;
  font-style: italic;
  font-size: 16px;
}
